
@{
    ViewData["Title"] = "View1";
}

<head>
    <title>Головна</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/CSS/ElectionStyle.css">
</head>
<body>

    <div class="header">
        <p class="right_position">
            <a href="@Url.Action("Login","Account")">Вхід</a>
            <a href="@Url.Action("Registrate", "Account")">Реєстрація</a>
        </p>
        
    </div>
    <div class="main">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Допомога</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="@Url.Action("Index2")">Інструкції</a>
                <a href="@Url.Action("Index2")">Нормативно-правова база</a>
                <a href="@Url.Action("Index2")">Довідкова інформація</a>
            </div>
        </div>
        <p class="big_title">Вибори президента України
        <br /><div style="font-size:60px; text-align: center;">2024</div></p>
    </div>
    <div class="footer">
        <a class="center_position" href="@Url.Action("Login", "Account")">Проголосувати</a>
    </div>
    
    <script src="~/js/ForDropDown.js"></script>
</body>
